@use 'variables' as *;

// 이너
@mixin inner {
  width: $inner-desktop;
  margin: 0 auto;

  @media (max-width: $bp-mobile) {
    width: 90%;
  }
}

// 가운데 정렬
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 카드 스타일
@mixin card {
  background: rgba($c-blue-light, 0.25);
  border-radius: $r-10;
  box-shadow: $bs-basic;
}

// 섹션 타이틀
@mixin section-title {
  .section-title-text {
    font-size: $fs-80;
    font-weight: $fw-extra-black;
    color: $c-white;
    margin-bottom: 40px;

    @media (max-width: $bp-mobile) {
      font-size: $fs-60;
      margin-bottom: 10px;
    }
  }

  .section-desc {
    font-size: $fs-20;
    font-weight: $fw-regular;
    color: $c-gray;

    @media (max-width: $bp-mobile) {
      font-size: $fs-16;
    }
  }
}

// 필터링 버튼
@mixin btn-wrap {
  @include flex-center;
  gap: 10px;
  margin-bottom: 50px;

  @media (max-width: $bp-mobile) {
    gap: 5px;
  }
}

@mixin btn-style {
  background: $c-white;
  border: 3px solid $c-main-blue;
  border-radius: $r-50;
  padding: 0 20px;
  height: 50px;
  font-size: $fs-24;
  font-weight: $fw-extra-bold;
  color: $c-main-blue;
  transition: $tr-r;

  &:hover,
  &.active {
    background: $c-main-blue;
    color: $c-white;
  }

  @media (max-width: $bp-mobile) {
    border: 2px solid $c-main-blue;
    height: 45px;
    font-size: $fs-16;
    padding: 0 10px;
  }
}