@use 'variables' as *;
@use 'mixin' as *;

// 폰트
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wanted Sans Variable", sans-serif;
  color: $c-black;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
}

// 이너
.inner {
  @include inner;
  border-bottom: 2px solid $c-blue-dark-line;
}

// 타이틀 섹션 + 콘텐츠 섹션
.title-section,
.content-section {
  margin: 25px 0;
  padding: 75px 0;
}

// 타이틀 섹션
.title-section {
  border-right: 2px solid $c-blue-dark-line;
  width: 440px;
}

.content-section {
  flex: 1;
  padding-left: 100px;
}

@media (max-width: $bp-mobile) {

  .title-section,
  .content-section {
    margin: 0;
    padding: 0;
  }

  .title-section {
    border-right: none;
    width: 100%;
    padding-top: 50px;
  }

  .content-section {
    width: 100%;
    padding-left: 0;
    padding-bottom: 50px;
  }
}