// color
$c-main-blue: #4C9CFF;
$c-blue-light: #ADCDF5;
$c-blue-medium: #7DB5FA;
$c-blue-dark: #001938;
$c-blue-dark-line: rgba($c-blue-dark, 0.2);

$c-black: #333333;
$c-gray: #555555;
$c-white: #FFFFFF;
$c-white-dark: #EFEFEF;

$c-gradient-blue-desktop: linear-gradient(to right, $c-main-blue 0%, #A6CDFF 50%, #D2E6FF 75%, #E9F3FF 90%, $c-white 100%);
$c-gradient-blue-mobile: linear-gradient(to bottom, $c-main-blue 0%, #A6CDFF 50%, #D2E6FF 75%, #E9F3FF 90%, $c-white 100%);
$c-gradient-yellow: linear-gradient(135deg, #FCD966 0%, #FDECB2 50%, $c-white 100%);

$label-personal: $c-main-blue;
$label-team: #684CFF;
$label-renewal: #25ff80;
$label-clone: #FFAB4C;
$label-responsive: #FF4C4C;

// border-radius
$r-10: 10px;
$r-50: 50px;

// inner
$inner-desktop: 1300px;

// break-point
$bp-mobile: 768px;

// font-size
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-36: 36px;
$fs-40: 40px;
$fs-48: 48px;
$fs-60: 60px;
$fs-80: 80px;
$fs-100: 100px;

// font-weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-extra-black: 950;

// transition
$tr-r: 0.3s;

// box-shadow
$bs-basic: 2px 2px 10px $c-blue-dark-line;