@use 'reset';
@use 'variables' as *;
@use 'mixin' as *;

body.no-scroll {
  overflow: hidden;
}

// 헤더
.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  background: $c-white-dark;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: $tr-r;

  &.scroll {
    background: rgba($c-white-dark, 0.1);
    backdrop-filter: saturate(180%) blur(20px);
  }

  nav {
    @include inner;
    display: flex;
    align-items: center;
    gap: 40px;

    .hamburger {
      width: 30px;
      height: 20px;
      position: relative;
      cursor: pointer;
      background: transparent;

      span {
        width: 100%;
        height: 4px;
        background: $c-gray;
        border-radius: $r-50;
        display: block;
        position: absolute;
        transition: $tr-r;

        &:nth-child(1) {
          left: 0;
          top: 0;
        }

        &:nth-child(2) {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          left: 0;
          bottom: 0;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
          }

          &:nth-child(2) {
            display: none;
          }

          &:nth-child(3) {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%) rotate(135deg);
          }
        }
      }
    }
  }

  .nav-click-wrap {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 136.67px;
      height: 50px;
      background: url(../images/header_logo.svg) no-repeat center / cover;
      display: block;
    }

    .github-btn {
      background: $c-main-blue;
      width: 150px;
      height: 40px;
      border-radius: $r-50;
      @include flex-center;
      gap: 10px;
      transition: $tr-r;

      p {
        color: $c-white;
        font-size: $fs-20;
      }

      .github-btn-icon {
        width: 18px;
        height: 17.95px;
        background: url(../images/mage_external-link.svg) no-repeat center / cover;
      }

      &:hover {
        background: $c-blue-dark;
      }
    }
  }
}

// 내비게이션 페이지
.full-nav {
  width: 100%;
  height: 100vh;
  background: $c-gradient-blue-desktop;
  position: fixed;
  z-index: 100;
  @include flex-center;
  opacity: 0;
  visibility: hidden;
  transition: $tr-r;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  &-content-wrap {
    width: 100%;
    height: auto;
    @include inner;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .nav-text-wrap {
      .nav-menu {
        font-size: $fs-100;
        font-weight: $fw-extra-black;
        color: $c-white;
        display: block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          background: url(../images/star_icon.png) no-repeat center / cover;
          margin-left: 10px;
        }

        &:hover::after {
          animation-name: rotate-infinite;
          animation-duration: 0.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
      }
    }

    .me-info {
      width: 400px;
      height: 200px;
      border-radius: 10px;
      background: $c-gradient-yellow;
      @include flex-center;
      position: relative;
      align-self: flex-end;

      .me-char {
        width: 150px;
        height: 321px;
        position: absolute;
        background: url(../images/profile_char_full.png) no-repeat center / cover;
        bottom: 0;
        left: -100px;
      }

      .me-info-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .info-wrap {
          .title {
            font-size: $fs-24;
            font-weight: $fw-medium;
          }

          p {
            font-size: $fs-20;
            font-weight: $fw-regular;
          }

          .title-wrap {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 5px;

            .nav-github-btn {
              width: 30px;
              height: 30px;
              display: block;
              border-radius: 50%;
              background: $c-main-blue;
              @include flex-center;
              transition: $tr-r;

              .icon {
                width: 15px;
                height: 15px;
                background: url(../images/mage_external-link.svg) no-repeat center / cover;
              }

              &:hover {
                background: $c-blue-dark;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes rotate-infinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// 인트로
.intro {
  width: 100%;
  background: url(../images/intro_bg.png) no-repeat center / cover;
  margin-top: 65px;

  .inner {
    @include flex-center;
    flex-direction: column;
    gap: 60px;
    padding: 75px 0;

    .profile-mobile {
      display: none;
    }

    .intro-text-wrap {
      @include flex-center;
      flex-direction: column;
      gap: 30px;

      p {
        font-size: $fs-48;
        font-weight: $fw-extra-bold;
        color: $c-white;
      }

      .line2 {
        text-align: center;

        .color-blue {
          color: $c-main-blue;
        }
      }

      .line3 {
        @include flex-center;
        gap: 10px;

        .name-logo-wrap {
          display: flex;

          img {
            margin-left: -15px;
            animation-name: name-ani;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            scale: 0;

            &:nth-child(1) {
              margin-left: 0;
            }

            &:nth-child(2) {
              animation-delay: 0.3s;
            }

            &:nth-child(3) {
              animation-delay: 0.6s;
            }
          }
        }

        .color-black {
          color: $c-black;
        }
      }
    }

    .intro-sub-text {
      color: $c-gray;
      font-size: $fs-20;
      font-weight: $fw-regular;
      text-align: center;
    }
  }
}

@keyframes name-ani {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

// 어바웃미
.about-me {
  .inner {
    display: flex;

    .title-section {
      .profile-img {
        width: 260px;
        height: 260px;
        background: url(../images/profile.png) no-repeat center / cover;
        margin-bottom: 50px;
      }

      .profile-name {
        width: 280px;
        height: 102.44px;
        background: url(../images/name_logo.svg) no-repeat center / cover;
        margin-bottom: 25px;
      }

      .profile-sub-desc {
        font-size: $fs-20;
        font-weight: $fw-regular;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .profile-info {
          color: $c-gray;
        }
      }

      .profile-card-mobile {
        display: none;
      }
    }

    .content-section {
      .about-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .about-content {
          .about-title-wrap {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 20px;

            .star-icon {
              width: 38px;
              height: 38px;
              background: url(../images/star_icon.png) no-repeat center / cover;
              display: block;
            }

            .about-title {
              font-size: $fs-24;
              font-weight: $fw-extra-black;
              color: $c-blue-dark;
            }
          }

          .about-text-wrap {
            margin-left: 43px;
            display: flex;
            flex-direction: column;
            font-size: $fs-20;
            font-weight: $fw-regular;
          }

          &1 {
            .about-text-wrap {
              gap: 5px;
            }
          }

          &2 {
            .about-text-wrap {
              gap: 10px;

              .about-text-box {
                .point {
                  font-weight: $fw-medium;
                }
              }
            }
          }

          &3 {
            .about-icon-wrap {
              display: grid;
              grid-template-columns: repeat(9, 40px);
              grid-gap: 20px;
              margin-left: 43px;

              .about-icon {
                height: 40px;

                &:nth-child(1) {
                  background: url(../images/icon_html.png) no-repeat center / cover;
                }

                &:nth-child(2) {
                  background: url(../images/icon_css.png) no-repeat center / cover;
                }

                &:nth-child(3) {
                  background: url(../images/icon_scss.png) no-repeat center / cover;
                }

                &:nth-child(4) {
                  background: url(../images/icon_js.png) no-repeat center / cover;
                }

                &:nth-child(5) {
                  background: url(../images/icon_react.png) no-repeat center / cover;
                }

                &:nth-child(6) {
                  background: url(../images/icon_swiper.png) no-repeat center / cover;
                }

                &:nth-child(7) {
                  background: url(../images/icon_figma.png) no-repeat center / cover;
                }

                &:nth-child(8) {
                  background: url(../images/icon_git.png) no-repeat center / cover;
                }

                &:nth-child(9) {
                  background: url(../images/icon_github.png) no-repeat center / cover;
                }

                &:nth-child(10) {
                  background: url(../images/icon_c.png) no-repeat center / cover;
                }

                &:nth-child(11) {
                  background: url(../images/icon_c_plus.png) no-repeat center / cover;
                }

                &:nth-child(12) {
                  background: url(../images/icon_java.png) no-repeat center / cover;
                }

                &:nth-child(13) {
                  background: url(../images/icon_sqld.png) no-repeat center / cover;
                }

                &:nth-child(14) {
                  background: url(../images/icon_chat_gpt.png) no-repeat center / cover;
                }

                &:nth-child(15) {
                  background: url(../images/icon_gemini.png) no-repeat center / cover;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 스킬
.skills {
  background: url(../images/section_bg_desktop.png) no-repeat center / cover;

  .inner {
    display: flex;

    .title-section {
      .title-wrap {
        @include section-title;
      }
    }

    .content-section {
      .click-btn-wrap {
        @include btn-wrap;

        .click-btn {
          @include btn-style;
        }
      }

      .tab-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .tab-content {
          .skill-category {
            margin-bottom: 20px;

            h4 {
              font-size: $fs-24;
              font-weight: $fw-extra-black;
              color: $c-blue-dark;
              margin-bottom: 10px;
            }

            .category-line {
              width: 100%;
              height: 2px;
              background: $c-blue-dark-line;
              border-radius: $r-50;
            }
          }

          .skill-card-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;

            .skill-card {
              padding: 20px;
              @include card;

              .skill-card-title {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                gap: 5px;

                .skill-card-title-icon {
                  width: 25px;
                  height: 25px;

                  &-html {
                    background: url(../images/icon_html.png) no-repeat center / cover;
                  }

                  &-css {
                    background: url(../images/icon_css.png) no-repeat center / cover;
                  }

                  &-scss {
                    background: url(../images/icon_scss.png) no-repeat center / cover;
                  }

                  &-js {
                    background: url(../images/icon_js.png) no-repeat center / cover;
                  }

                  &-java {
                    background: url(../images/icon_java.png) no-repeat center / cover;
                  }

                  &-c {
                    background: url(../images/icon_c.png) no-repeat center / cover;
                  }

                  &-c-plus {
                    background: url(../images/icon_c_plus.png) no-repeat center / cover;
                  }

                  &-react {
                    background: url(../images/icon_react.png) no-repeat center / cover;
                  }

                  &-swiper {
                    background: url(../images/icon_swiper.png) no-repeat center / cover;
                  }

                  &-figma {
                    background: url(../images/icon_figma.png) no-repeat center / cover;
                  }

                  &-sqld {
                    background: url(../images/icon_sqld.png) no-repeat center / cover;
                  }

                  &-git {
                    background: url(../images/icon_git.png) no-repeat center / cover;
                  }

                  &-github {
                    background: url(../images/icon_github.png) no-repeat center / cover;
                  }

                  &-gpt {
                    background: url(../images/icon_chat_gpt.png) no-repeat center / cover;
                  }

                  &-gemini {
                    background: url(../images/icon_gemini.png) no-repeat center / cover;
                  }
                }

                .skill-card-title-text {
                  font-size: $fs-20;
                  font-weight: $fw-bold;
                }
              }

              .skill-card-desc {
                font-size: $fs-16;
              }
            }
          }
        }
      }
    }
  }
}

// 포트폴리오
.portfolio {
  background: url(../images/section_bg_desktop.png) no-repeat center / cover;

  .inner {
    display: flex;

    .title-section {
      .title-wrap {
        @include section-title;
      }
    }

    .content-section {
      .click-btn-wrap {
        @include btn-wrap;

        .filter-btn {
          @include btn-style;
        }
      }

      #emptyMessage {
        display: none;
        text-align: center;
        font-size: $fs-20;
        font-weight: $fw-bold;
      }

      .portfolio-card-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        align-items: start;
        align-content: start;
        max-width: 758px;
        height: 1200px;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: $c-white-dark;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $c-blue-light;
          border-radius: $r-50;

          &:hover {
            background-color: $c-blue-medium;
          }
        }

        .portfolio-card {
          @include card;
          padding: 25px 20px;
          transition: $tr-r;

          .portfolio-card-title-wrap {
            .small-title {
              font-size: $fs-16;
              font-weight: $fw-bold;
              margin-bottom: 5px;
            }

            .portfolio-main-card-title-wrap {
              display: flex;
              align-items: center;
              gap: 5px;
              margin-bottom: 20px;

              .main-title {
                font-size: $fs-24;
                font-weight: $fw-bold;
              }

              .title-label {
                font-size: $fs-14;
                font-weight: $fw-regular;
                color: $c-white;
                padding: 0 10px;
                height: 20px;
                @include flex-center;
                border-radius: $r-50;
                text-transform: capitalize;

                &-personal {
                  background: $label-personal;
                }

                &-team {
                  background: $label-team;
                }
              }
            }

          }

          .portfolio-card-img-box {
            width: 100%;
            height: 125px;
            border-radius: $r-10;
            margin-bottom: 20px;
            overflow: hidden;

            .portfolio-card-img {
              object-position: top;
            }
          }

          .portfolio-card-desc-wrap {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .desc-box {
              display: flex;
              gap: 10px;

              .desc-title {
                font-weight: $fw-bold;
                font-size: $fs-16;
                color: $c-gray;
              }

              .desc-text {
                flex: 1;
                font-weight: $fw-regular;
                font-size: $fs-16;
                color: $c-gray;
              }
            }
          }

          .line {
            width: 100%;
            height: 2px;
            background: rgba($c-blue-dark, 0.1);
            margin-top: 20px;
            margin-bottom: 10px;
          }

          .portfolio-card-stack-wrap {
            display: flex;
            gap: 5px;

            .stack-icon-box {
              width: 20px;
              height: 20px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          &:hover {
            background: rgba($c-blue-light, 0.5);
            cursor: pointer;
          }
        }
      }
    }
  }
}

// 팝업창
.popup {
  position: fixed;
  inset: 0;
  background: rgba($c-black, 0.7);
  @include flex-center;
  opacity: 0;
  visibility: hidden;
  transition: $tr-r;
  z-index: 1001;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .popup-container {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 880px;
    background: rgba($c-white, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: $r-10;
    padding: 100px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;

    .popup-left {
      box-shadow: $bs-basic;
      width: 350px;
      height: 100%;
      border-radius: $r-10;
      overflow-y: auto;
      flex-shrink: 0;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $c-white-dark;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $c-blue-light;
        border-radius: $r-50;

        &:hover {
          background-color: $c-blue-medium;
        }
      }

      img {
        width: 100%;
      }
    }

    .popup-right {
      .project-title-wrap {
        .project-num {
          font-size: $fs-40;
          font-weight: $fw-bold;
        }

        .project-title {
          font-size: $fs-48;
          font-weight: $fw-bold;
        }

        .project-label-wrap {
          display: flex;
          gap: 10px;
          margin-top: 10px;
          margin-bottom: 40px;

          .project-label {
            padding: 0 10px;
            height: 30px;
            @include flex-center;
            border-radius: $r-50;
            font-size: $fs-20;
            color: $c-white;
            text-transform: capitalize;

            &-personal {
              background: $label-personal;
            }

            &-team {
              background: $label-team;
            }

            &-renewal {
              background: $label-renewal;
            }

            &-clone {
              background: $label-clone;
            }

            &-responsive {
              background: $label-responsive;
            }
          }
        }

        .work-box {
          margin-bottom: 20px;

          .work-title {
            font-size: $fs-20;
            font-weight: $fw-bold;
            margin-bottom: 5px;
          }

          .work-desc {
            font-size: $fs-20;
            font-weight: $fw-regular;
          }

          .work-icon-wrap {
            display: flex;
            gap: 10px;

            .work-icon {
              width: 40px;
              height: 40px;

              img {
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }

        .desc-box {
          margin-bottom: 20px;

          .desc-title {
            font-size: $fs-20;
            font-weight: $fw-bold;
            margin-bottom: 5px;
          }

          .desc-text {
            font-size: $fs-18;
            font-weight: $fw-regular;
            line-height: 1.3;
          }
        }

        .btn-wrap {
          margin-top: 20px;
          display: flex;
          gap: 20px;

          .goto-btn {
            width: 250px;
            height: 45px;
            border-radius: 5px;
            @include flex-center;
            gap: 10px;
            font-size: $fs-20;
            font-weight: $fw-medium;
            color: $c-white;

            .icon {
              display: block;
              width: 24px;
              height: 24px;
              background: url(../images/mage_external-link.svg) no-repeat center / cover;
            }

            &-github {
              background: $c-blue-medium;
            }

            &-site {
              background: $c-main-blue;
            }
          }
        }
      }
    }
  }

  .icon-close-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 40px;
    right: 50px;
    background: $c-main-blue;
    @include flex-center;

    .icon-close {
      width: 30px;
      height: 30px;
      background: url(../images/close_icon.png) no-repeat center / cover;
    }
  }
}

// 푸터
footer {
  .inner {
    border-bottom: none;
    padding: 100px 0;

    .comment-wrap {
      @include flex-center;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 100px;

      p {
        font-size: $fs-36;
        font-weight: $fw-bold;
      }
    }

    .line {
      width: 100%;
      height: 2px;
      background: $c-blue-dark-line;
      margin-bottom: 10px;
    }

    .footer-text-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: $fs-20;
        font-weight: $fw-regular;
      }
    }
  }
}

@media (max-width: $bp-mobile) {
  .header {
    height: 55px;

    nav {
      flex-direction: row-reverse;

      .hamburger {
        width: 35px;
        height: 25px;
      }
    }

    .nav-click-wrap {
      .logo {
        width: 95.67px;
        height: 35px;
      }

      .github-btn {
        display: none;
      }
    }
  }

  .full-nav {
    background: $c-gradient-blue-mobile;

    &-content-wrap {
      flex-direction: column;
      gap: 130px;

      .nav-text-wrap {
        @include flex-center;
        flex-direction: column;
        gap: 20px;

        .nav-menu {
          font-size: $fs-40;

          &::after {
            width: 50px;
            height: 50px;
            margin-left: 5px;
          }
        }
      }

      .me-info {
        width: 80%;
        align-self: center;

        .me-char {
          width: 80px;
          height: 80px;
          background: url(../images/profile_char_half.png) no-repeat center / cover;
          bottom: 100%;
          left: 10px;
        }

        .me-info-container {
          .info-wrap {
            .title {
              font-size: $fs-20;
            }

            p {
              font-size: $fs-16;
            }
          }
        }
      }
    }
  }

  .intro {
    background: $c-white;
    margin-top: 40px;

    .inner {
      gap: 20px;
      padding: 50px 0;

      .profile-mobile {
        width: 120px;
        height: 120px;
        background: url(../images/profile_mobile.png) no-repeat center / cover;
        display: block;
      }

      .intro-text-wrap {
        gap: 10px;

        p {
          font-size: $fs-24;
          color: $c-black;
        }

        .line3 {
          gap: 5px;

          .name-logo-wrap {
            img {
              width: 35px;
              height: 35px;
              margin-left: -5px;
            }
          }
        }
      }

      .intro-sub-text {
        font-size: $fs-16;
      }
    }
  }

  .about-me {
    .inner {
      flex-direction: column;

      .title-section {
        margin-bottom: 50px;

        .profile-img,
        .profile-name {
          display: none;
        }

        .profile-sub-desc {

          .profile-text,
          .profile-info {
            display: none;
          }
        }

        .profile-card-mobile {
          display: block;
          font-size: $fs-16;
          background: $c-gradient-yellow;
          width: 90%;
          height: 150px;
          border-radius: $r-10;
          @include flex-center;
          gap: 20px;
          margin: 0 auto;

          .profile-sub-desc-mb {
            .profile-text-mb {
              font-weight: $fw-bold;
              margin-bottom: 20px;
            }
          }

          .profile-sub-img {
            width: 90px;
            height: 108px;
            background: url(../images/profile_char_black.png) no-repeat center / cover;
          }
        }
      }

      .content-section {
        @include flex-center;

        .about-content-wrap {
          gap: 30px;

          .about-content {
            .about-title-wrap {
              margin-bottom: 10px;

              .star-icon {
                width: 25px;
                height: 25px;
              }

              .about-title {
                font-size: $fs-20;
              }
            }

            .about-text-wrap {
              margin-left: 30px;
              font-size: $fs-16;
            }

            &1 {
              .about-text-wrap {
                gap: 0;
              }
            }

            &2 {
              .about-text-wrap {
                .about-text-box {
                  .point {
                    .lb {
                      display: block;
                    }
                  }
                }
              }
            }

            &3 {
              .about-icon-wrap {
                grid-template-columns: repeat(6, 25px);
                grid-gap: 10px;
                margin-left: 30px;

                .about-icon {
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }
  }

  .skills {
    background: url(../images/section_bg_mb.png) no-repeat top / cover;

    .inner {
      flex-direction: column;

      .title-section {
        margin-bottom: 50px;
      }

      .content-section {
        .tab-content-wrap {
          gap: 50px;

          .tab-content {
            .skill-category {
              margin-bottom: 10px;

              h4 {
                font-size: $fs-20;
                margin-bottom: 5px;
              }
            }

            .skill-card-wrap {
              grid-template-columns: 1fr;

              .skill-card {
                .skill-card-title {
                  margin-bottom: 10px;

                  .skill-card-title-text {
                    font-size: $fs-18;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .portfolio {
    background: url(../images/section_bg_mb.png) no-repeat top / cover;

    .inner {
      flex-direction: column;

      .title-section {
        margin-bottom: 50px;
      }

      .content-section {
        min-width: 0;

        .portfolio-card-wrap {
          width: 100%;
          grid-template-columns: 1fr;
          max-width: none;
          height: 800px;

          .portfolio-card {
            min-width: 0;

            .portfolio-card-title-wrap {
              .small-title {
                font-size: $fs-14;
                margin-bottom: 0;
              }

              .portfolio-main-card-title-wrap {
                .main-title {
                  font-size: $fs-20;
                }
              }
            }

            .portfolio-card-img-box {
              height: 300px;

              .portfolio-card-img {
                width: 100%;
              }
            }

            .portfolio-card-desc-wrap {
              .desc-box {
                .desc-text {
                  min-width: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .popup {
    .popup-container {
      width: 90%;
      max-width: 700px;
      min-width: 0;
      height: 100%;
      max-height: 800px;
      flex-direction: column;
      gap: 20px;
      padding: 60px 20px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $c-white-dark;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $c-blue-light;
        border-radius: $r-50;

        &:hover {
          background-color: $c-blue-medium;
        }
      }

      .popup-left {
        width: 100%;
        height: 300px;
      }

      .popup-right {
        min-width: 0;

        .project-title-wrap {
          min-width: 0;

          .project-num {
            font-size: $fs-16;
          }

          .project-title {
            font-size: $fs-28;
            min-width: 0;
          }

          .project-label-wrap {
            gap: 5px;

            .project-label {
              height: 25px;
              font-size: $fs-16;
            }
          }

          .work-box {
            .work-title {
              font-size: $fs-16;
            }

            .work-desc {
              font-size: $fs-16;
              font-weight: $fw-regular;
              min-width: 0;
            }

            .work-icon-wrap {
              width: 25px;
              height: 25px;
            }
          }

          .desc-box {
            .desc-title {
              font-size: $fs-16;
            }

            .desc-text {
              font-size: $fs-16;
              width: 100%;
              height: 100px;
              background: rgba($c-blue-light, 0.25);
              padding: 10px;
              overflow-y: auto;
              min-width: 0;

              &::-webkit-scrollbar {
                width: 5px;
              }

              &::-webkit-scrollbar-track {
                background: $c-white-dark;
              }

              &::-webkit-scrollbar-thumb {
                background-color: $c-blue-light;
                border-radius: $r-50;

                &:hover {
                  background-color: $c-blue-medium;
                }
              }
            }
          }

          .btn-wrap {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 10px;
            min-width: 0;

            .goto-btn {
              width: auto;
              height: 40px;
              font-size: $fs-16;
              min-width: 0;

              .icon {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }

    .icon-close-btn {
      width: 50px;
      height: 50px;
      top: 20px;
      right: 20px;

      .icon-close {
        width: 25px;
        height: 25px;
      }
    }
  }

  footer {
    .inner {
      padding: 50px 0;

      .comment-wrap {
        margin-bottom: 50px;

        p {
          font-size: $fs-20;
        }
      }

      .footer-text-wrap {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        p {
          font-size: $fs-16;
        }
      }
    }
  }
}
